*{
     margin: 0;
     padding: o;
}
body{
    display: flex;
    flex-direction: column;
    font-family: roboto;  
    padding: 0px;  
}
.hero{
    display: flex;
    flex-direction: column;
    background-color: #3b3a39;
    color: white;
    margin:0px;

}
.header{
    display: flex;
    font-weight: bolder;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    font-size: 24px;
    align-items: center;
}
.header-right{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    gap: 18px;
    font-weight: lighter;
}
.hero-content{
    display: flex;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
}
.hero-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    align-items: center;
}
.hero-text-main{
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}
.hero-text-secondary{
    font-size: 18px;
    color: #e5e7eb;
}
.button{
    background-color: #3882f6;
    padding: 10px;
    border-radius: 8px;
    margin: 12px;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 64px;
    background-color: lightgray;
    color: #1f2937;
}
.info-title{
    display: flex;
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 36px;
}
.info-display{
    display: flex;
    gap: 64px;
}
.display{
    display: flex;
    flex: 1;
    flex-direction: column;
    font-weight: bolder;
    gap: 30px;
    justify-content: space-between;
}
.display-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.display-sub-text{
    font-weight: lighter;
    font-size: 15px;
}

.display img{
    border:3px solid #3b4751;
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
    background-color: #3b3a39;
    gap: 10px;
}
.quote-text{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #e5e7eb;
}
.quote-maker{
    font-size: larger;
    font-weight: bold;
    color: #e5e7eb;
}
.call-container{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
.call{
    display: flex;
    padding: 32px;
    align-items: center;
    background-color: #3882f6;
    border-radius: 10px;
    gap: 50px;
}
.call-content{
    color:#e5e7eb;
    font-weight: bold;
    font-size: 32px;
}
.call-subtext{
    font-weight: 100;
    font-size: 20px;
}
/* maybe remove hover later cus it screws the hero a bit */
.button:hover{
    background-color: goldenrod;
}
.call .button{
    padding: 15px;
    font-size: 18px;
    border:2px solid #e5e7eb;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3a39;
    color: #e5e7eb;
    height: 72px;
}
